<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" 
	  layout:decorate="~{layout}"
>
<head>
<meta charset="utf-8"/>
<title>Entrée</title>
<link rel= "stylesheet"
      type ="text/css"  
      href= "../static/css/bootstrap.min.css"
      th:href="@{css/bootstrap.min.css}"
      />
<link rel= "stylesheet"
      type ="text/css"  
      href= "../static/css/style.css"
      th:href="@{css/style.css}"
      />
      <link rel= "stylesheet"
      type ="text/css"  
      href= "../static/css/jquery-ui.css"
      th:href="@{css/jquery-ui.css}"
      />

  <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
  <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
	  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  	  <script src="/js/postrequestE.js"></script>
 <link rel="stylesheet" href="//code.jquery.com/ui/1.11.2/themes/smoothness/jquery-ui.css"/>
  <script src="//code.jquery.com/jquery-1.10.2.js"></script>
  <script src="//code.jquery.com/ui/1.11.2/jquery-ui.js"></script>
 <script>
  $(function() {
    $( "#date" ).datepicker({
    showAnim: "fold",
    dateFormat: "yy-mm-dd"
});
  });
  </script>

<style>
.ui-datepicker {
	width: 17em;
	padding: .2em .2em 0;
	display: none;
    background:#846733;  
}
.ui-datepicker .ui-datepicker-title {
	margin: 0 2.3em;
	line-height: 1.8em;
	text-align: center;
    color:#FFFFFF;
    background:#846733;  
}
.ui-datepicker table {
	width: 100%;
	font-size: .7em;
	border-collapse: collapse;
    font-family:verdana;
	margin: 0 0 .4em;
    color:#000000;
    background:#FDF8E4;    
}
.ui-datepicker td {

	border: 0;
	padding: 1px;

    
}
.ui-datepicker td span,
.ui-datepicker td a {
	display: block;
	padding: .8em;
	text-align: right;
	text-decoration: none;
}
</style>
 
  </head>
<body>  
<div layout:fragment="content"> 



<div class="container">




    <div class="panel panel-default">
        <div class="panel-heading clearfix">
          <i class="icon-calendar"></i>
          <h3 class="panel-title">Ajouter Entrées</h3>
        </div>
        
        <div class="panel-body">



	
	    <div class="col-md-12 col-sm-12 col-xs-12">
	
	
	<div class="input-group ">
	
	   <div class="col-lg-3 col-sm-3">
	<div class="form-group">
				<label for="prix">Reférence:</label>
				<input type="text" class="form-control" id="ref" placeholder="Référence" th:value="'Ref_Entree_' + ${maxid+1}"  readonly/>
			 <input type="hidden" class="form-control" id="id_entree" placeholder="id_entree" th:value="${maxid+1}"  readonly/>
				
			</div>
			</div>
			   <div class="col-lg-3 col-sm-3">
				<div class="form-group">
				<label for="prix">Date:</label>
				<input type="text" class="form-control" id="date"placeholder="YYYY/MM/DD"/>
			</div>
			
			</div>
			   <div class="col-lg-3 col-sm-3">
			 <div class="form-group ">
    
     <label class="control-label">Fournisseur:</label>
			   
                          <select class="form-control" name="fournisseur" id="fournisseur">
                      
                         <option th:each="f:${fournisseur}"
                            th:value="${f.id_fr}"
                            th:utext="${f.nom_fr}"/>
                           
                       </select>
          </div>
    
			
			</div>
			
			   <div class="col-lg-3 col-sm-3">
					
			 <div class="form-group ">
    
     <label class="control-label" >Magasin:</label>
			   
                          <select class="form-control" name="magasin" id="magasin">
                      
                         <option th:each="m:${magasin}"
                            th:value="${m.id_magasin}"
                            th:utext="${m.designation_magasin}" />
                           
                       </select>
          </div>
          </div>

	
	</div>
	
				
	</div>
	</div>
	
	</div>
	
	
	
	
	
	
	
	
	
	
	
	<div class="panel panel-default">
        <div class="panel-heading clearfix">
          <i class="icon-calendar"></i>
          <h3 class="panel-title">Détail Entrées</h3>
        </div>
        
        <div class="panel-body">



	
	    <div class="col-md-12 col-sm-12 col-xs-12">
	    
	
		<form id="customerForm" >
		
		 <div class="form-group ">
    
     <label class="control-label"   >Article</label>
			   
                          <select class="form-control" name="article" id="article">
                      
                         <option th:each="c:${article}"
                            th:value="${c.id_art}"
                            th:utext="${c.designation_art}"/>
                            
                       </select>
      
    </div>
			
			<div class="form-group">
				<label for="qte">Qté:</label>
				<input type="text" min="1" max="600" class="form-control" id="qte" placeholder="Enter Qté"/>
			</div>
			<div class="form-group">
				<label for="prix">Prix:</label>
				<input type="text" class="form-control" id="prix" placeholder="Enter Prix"/>
			</div>
			
			<button style="margin-bottom:10px" type="submit" class="btn btn-default">Ajouter détail Entrées</button>
		</form>
		
		<!-- Table of Adding Customer -->
		<table id="customerTable" class="table table-bordered table-hover">
			<thead>
				<tr>
					<th>No</th>
					<th>Code Article</th>
					<th>Désignation Article</th>
					<th>Qté</th>
					<th>Prix</th>
					<th>Total</th>
					<th>Supprimer</th>
				</tr>
			</thead>
			<tbody>
			</tbody>
		</table>
		<div class="form-group">
				<label for="prix">Total Entrées:</label>
				<input type="text" class="form-control" id="totG" placeholder="Total Entrées" readonly/>
				
			</div>
			
			
			   
			
		<!-- DIV Submit customer  -->
		<!-- SUBMIT Customer Button to Server -->
		<button id="postCustomersBtnn" style="margin:10px 0px 10px 0px" type="submit" class="btn btn-primary">Enregistrer l'entrée</button>
		<!-- Message result from server -->
		<div id="postResultDiv" style="margin:10px 0px 10px 0px;">
		</div>
		
		
		<!-- Get All Customers from back-end -->		
		<div id="resultGetAllCustomerDiv">
	        <ul class="list-group">
	    	</ul>
    	</div>
	</div>
</div>
</div>


  </div>
    </div>


  
  
</body>  
</html> 
  